body{
    margin:0;
    background-image: url(images/background.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color: white;
    min-height: 100vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.task-area{
    border:1px solid lightgray;
    margin-top: 2em;

}

.task-tabs{
    display:flex;
    border-bottom:1px solid lightgray;
    position: relative;
}

.task-tabs div{
    padding:1em;

}

#under-line{
    height: 4px;
    background-color: blue;
    position: absolute;
    width: 60px;
    left:0px;
    top: 50px;
    padding:0px;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.task-done{
    text-decoration: line-through;
}

.task-tabs div{
    cursor:pointer
}